<!DOCTYPE html>
<html>
  <body>
    <h1>Please enter the player names:</h1>
    <form action="/names" method="post">
      <label for="player_one">
        Player one name
        <input type="text" name="player_one">
      </label>
      <label for="player_two">
        Player two name
        <input type="text" name="player_two">
      </label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
