<%= @player_one.name%> vs. <%= @player_two.name%>
<%= @player_two.name %>: <%= @player_two.hit_points%>HP
<!-- <a href="/attack">Attack</a> -->
<form action="/attack">
  <input type="submit" value="Attack">
</form>
